# Python essentials
__pycache__/
*.py[cod]
.env
.venv
env/
venv/

# IDE
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Model output directories
**/output/
**/model_outputs/
*.pt
*.bin
*.safetensors