# Python essentials
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
*.egg-info/
*.egg
build/
dist/
tmp/

# IDE
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# external references
ref

# Model output directories
**/output
**/model_outputs
**/weights
**/runs
**/logs
*.pt
*.bin
*.safetensors

# Weights & Biases
wandb
