# Python essentials
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
*.egg-info/
*.egg
build/
dist/

# IDE
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Model output directories
**/output/
**/model_outputs/
**/runs/
*.pt
*.bin
*.safetensors
# Weights & Biases
wandb/
ref/