[submodule "ext/ultralytics/yolov3"]
	path = ext/ultralytics/yolov3
	url = https://github.com/ultralytics/yolov3.git
[submodule "ext/ultralytics/ultralytics"]
	path = ext/ultralytics/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "ext/ultralytics/yolov5"]
	path = ext/ultralytics/yolov5
	url = https://github.com/ultralytics/yolov5.git
